<div class="page-header">
    <h2>All Postings</h2>
</div>

<% @postings.each do |posting| %>
    
    <div class="posting">
        <strong><%= posting.title %></strong>
        <p><%= posting.industry%></p>
        <p><%= posting.location%></p>
        <p><%= posting.description%></p>

        <div class="meta">
            <%= link_to "Posted" + " " + time_ago_in_words(posting.created_at) + " " + "ago.", posting %>

            <span class="admin">
                <%= link_to "Edit", edit_posting_path(posting) %>
                <%= link_to "Delete", posting, method: :delete, data: {confirm:"Are you sure?"} %>

            </span>


        </div>
    </div>


<% end %>



